
<div  ng-controller="MainCtrl" class="content">
    <div class="container">
        <div class="jumbotron">
            <h1>'Allo, 'Allo!</h1>
            <p class="lead">
                <img src="images/yeoman.png" alt="I'm Yeoman">
                <br> Always a pleasure scaffolding your apps.
            </p>
            <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
        </div>
        <div class="row marketing well col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
            <h4>Profile</h4>
            <p>
                The profile view is working you can access it from the 'cog' in top right or 'My Info' in left menu.
            </p>
            <h4>Users</h4>
            <p>
                Users view is working you use the button in the left menu.
            </p>
            
        </div>
    </div>
</div>
